<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= potato.image %>">
                <div class="caption-full">
                    <h4 class="pull-right">$9.00/night</h4>
                    <h4><a><%=potato.name%></a></h4>
                    <p><%= potato.description %></p>
                    <p>
                        <em>Submitted By: 
                            <a class="userinfo" href="/users/<%= potato.author.id%>"><%= potato.author.username%> </a>
                        </em>
                        , <%= moment(potato.createdAt).fromNow()%>
                    </p>
                    <% if (currentUser && potato.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                        <a href = "/potatos/<%= potato._id %>/edit" class="btn btn-xs btn-warning">Edit potato</a>
                        <form id="delete-form" action="/potatos/<%= potato._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/potatos/<%= potato._id %>/comments/new">Add New Comment</a>
                </div>
                <hr>
                <% potato.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <span class="pull-right"> <%= moment(comment.createdAt).fromNow()%></span>
                            <p>
                                <%= comment.text %> 
                            </p>
                            <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
                            <a href = "/potatos/<%= potato._id %>/comments/<%=comment._id%>/edit" class="btn btn-xs btn-warning">Edit</a>
                            <form id="comment-delete-form" action="/potatos/<%= potato._id %>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                                <button class="btn btn-xs btn-danger">Delete</button>
                            </form>
                        <% } %>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>