<% include ../partials/header %>
<!-- <br> -->
<div class="container py-3">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Side Project</p>
            <div class="list-group">
                <li class="list-group-item active">Project Info</li>
                <li class="list-group-item"><a href="/users/<%= project.author.id%>" >About Author</a></li>
                <li class="list-group-item"><a href="#comments">Comments</a></li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive img-thumbnail" id="project_img" src="<%= project.image %>">
                <div class="caption-full">
                    <h3 class="pull-right">
                        <form action="/projects/<%= project._id%>/vote" method="post">
                            <button class="btn btn-xs btn-success" id="UpVote" name="<%=currentUser %>"> UpVote <%=project.upvote.length %></button>
                        </form>
                    </h3>
                    <h4><a><%=project.name%></a></h4>
                    <p class="project_description"><%= project.description %></p>
                    <p>
                        <em>Submitted By: 
                            <a class="userinfo" href="/users/<%= project.author.id%>"><%= project.author.username%> </a>
                        </em>
                        , <%= moment(project.createdAt).fromNow()%>
                    </p>
                    <% if (currentUser && project.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                        <a href = "/projects/<%= project._id %>/edit" class="btn btn-xs btn-warning">Edit project</a>
                        <form id="delete-form" action="/projects/<%= project._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/projects/<%= project._id %>/comments/new">Add New Comment</a>
                </div>
                <hr>
                <% project.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <span class="pull-right"> <%= moment(comment.createdAt).fromNow()%></span>
                            <p>
                                <%= comment.text %> 
                            </p>
                            <a name="comments"></a>
                            <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
                            <a href = "/projects/<%= project._id %>/comments/<%=comment._id%>/edit" class="btn btn-xs btn-warning">Edit</a>
                            <form id="comment-delete-form" action="/projects/<%= project._id %>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                                <button class="btn btn-xs btn-danger">Delete</button>
                            </form>
                        <% } %>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>

<!-- <script>
    document.getElementById("UpVote").addEventListener("click", upvote);
    function upvote(){ 
        document.getElementById("UpVote").innerHTML="You just Upvoted"   
    }
</script> -->

<% include ../partials/footer %>


